---
---
@import {{ site.theme }};

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 18px;
    color: #24292e;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: -0.02em;
}
